@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body, html {
    margin: 0;
  
      background-color: rgb(252, 252, 252);

  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
   font-family: 'Source Sans Pro', sans-serif !important;
   
    
   
    

}

.main-content{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    margin-bottom: 3%;
}

.main-content-squeezed{
    width: 870px;
   
    margin-left: auto;
    margin-right: auto;

    margin-top: 8%;
    margin-bottom: 3%;
}

.main-content-squeezed .post-margin{
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    
}



.contCenter {
    justify-content: center !important;
    align-content: center;
    float: center;
}




//for posts
.post-margin{
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1%;
}

.post-date {
    color: #c0c0c0 !important;
    
    float: left;
   
    margin-top:20px;
}
//post-title color: primary-main
.post-title{
    text-decoration: none !important;
    cursor: pointer;
    float:left;
    color: $secondaryDark;
    
}
.post-title:hover{
    color: rgb(118, 118, 146);
    transition: 0.2s;
    
}

.post-langs{
    float: right;
   margin-top:4px; 
   
}
.post-langs img {
    margin-left: 7px;
    
}

.post-userhandle {
    float: right;
   margin-top: 17px;
    margin-bottom: 5px;    
}

.post-userhandle a {
    cursor: pointer;
    text-decoration: none !important;
    color: rgb(100, 100, 128) !important;
}

.post-userhandle a:hover {
    color: rgb(136, 136, 172) !important;
    transition: 0.2s;
}




//avatar non-react
//profile section
.bigAvatar-scss  {
    width: 150px !important;
    height: 150px !important;
}

.profile-av{
    display: flex;
    width: 100%;
    
}


.editIco {
    
    
    height: 20px !important; 
  
    margin-top: -17px !important;
    float: right !important;
}

.editIco:hover{
    color: rgb(117, 117, 148) !important;
    transition: 0.3s;
}

.sticky {
    position: sticky;
}



.profile-ainfo {
    margin-left: auto;
    order: 2;
    
    padding-bottom: 10px;
    padding-top: 5px;
    
}

.profile-bio {
    padding-top: 20px ;
    display: block;
    max-width: 300px;
    
   
}

//tooltip
.MuiTooltip-popper {
    margin: -10px;
}

@media only screen and (max-width: 959px) {
    //Tablet
    .post-margin{
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 2%;
    }

    .main-content-squeezed{
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
        
      
    }



    .main-content-squeezed .post-margin{
        width: auto;
       
        
    }

  }


  @media only screen and (max-width: 599px) {
    //Phone

    .MuiTooltip-popper {
        display: none;
        //tooltip turnedoff whilst on mobile
    }

    .post-margin{
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 2%;
    }

    .main-content-squeezed{
        
        width: 470px;
        margin-left: auto;
        margin-right: auto;
        
      
    }

   


    //avatar non-react
.bigAvatar-scss  {
    width: 100px !important;
    height: 100px !important;
}


  }
