@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}

html {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

body,
html {
    margin: 0;

    background-color: rgb(252, 252, 252);

    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-family: 'Source Sans Pro', sans-serif !important;





}

.main-content {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 120px;
    margin-bottom: 3%;
}

.main-content-squeezed {
    width: 870px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 120px;
    margin-bottom: 3%;
}

.main-content-squeezed .post-margin {
    width: 870px;
    margin-left: auto;
    margin-right: auto;

}

.filtersButton {
    width: calc(100% - 14%);
    margin-bottom: 1% !important;

}

.filtersButton>.MuiButton-label {
    text-align: left;
    display: block !important;
}

.filtersDiv {
    max-height: 0px;
    transition: 0.5s;
    display: block;
    overflow: hidden;
    width: calc(100% - 14%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 31px -9px rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    padding-left: 5px;
    
    box-sizing: border-box;
    
}
.filterBtn {
    float: right;
    right: 3%;
    
}

.formGroup {
    float: left;
    margin: 0 auto !important;
    width: 50%;
}



.isOpen {
    max-height: 600px;
   
}

.formWrapper {
    width: 100%;
    display: inline;
    
}

.clearer {
    clear: both;
   
}

.contCenter {
    justify-content: center !important;
    align-content: center;
    float: center;
}





//for posts
.post-margin {
    //margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1%;
    transition: 1s;
}

.post-margin-edit {

    margin-bottom: 4%;
}

.post-date {
    color: #c0c0c0 !important;

    float: left;

    margin-top: 20px;
}

//post-title color: primary-main
.post-title {
    text-decoration: none !important;
    cursor: pointer;
    float: left;
    color: $secondaryDark;

}

.post-title:hover {
    color: rgb(118, 118, 146);
    transition: 0.2s;

}

.post-langs {
    float: right;
    margin-top: 4px;

}

.post-langs img {
    margin-left: 7px;

}

.post-userhandle {
    float: right;
    margin-top: 17px;
    margin-bottom: 5px;
}

.post-userhandle a {
    cursor: pointer;
    text-decoration: none !important;
    color: rgb(100, 100, 128) !important;
}

.post-userhandle a:hover {
    color: rgb(136, 136, 172) !important;
    transition: 0.2s;
}







//avatar non-react
//profile section
.bigAvatar-scss {
    width: 150px !important;
    height: 150px !important;
}

.profile-av {
    display: flex;
    width: 100%;

}


.editIco {


    height: 20px !important;

    margin-top: -17px !important;
    float: right !important;
}

.editIco:hover {
    color: rgb(117, 117, 148) !important;
    transition: 0.3s;
}

.sticky {
    position: sticky;
}

.resetDialog {

    min-width: 400px;
}

.frgtPassword {
    text-decoration: none;
    color: #4d4d62;
    float: right;
    display: block;
    position: fixed;
    text-align: right;
    margin-top: -10px !important;

}

.frgtPassword:hover {
    color: #8b8ba3;
    transition: 0.2s;
}


.profile-ainfo {
    margin-left: auto;
    order: 2;

    padding-bottom: 10px;
    padding-top: 5px;

}

.profile-bio {
    padding-top: 20px;
    display: block;
    max-width: 300px;


}


.blackBox  {

    color: #ffffff !important;
    background-color: #000000 !important;
    resize: none;
    
    border: none;
    outline: none;
    width: 100%;
    height: 400px;
    padding: 15px;
    box-sizing: border-box;
    
    

}



//onHover Upload Profile Picture

/* Container needed to position the overlay. Adjust the width as needed */
.container1 {
    position: relative;
    width: 150px !important;
    height: 150px !important;
}

.feed {
    transition: 0.3 ease;
}

/* Make the image to responsive */


/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px !important;
    height: 150px !important;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 50%;
}

/* When you mouse over the container, fade in the overlay icon*/
.container1:hover .overlay1 {
    opacity: 1;
}

.icon1 {
    //color: white;
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.icon1 svg {
    color: white;
}

//tooltip
.MuiTooltip-popper {
    margin: -10px;


}


@media only screen and (max-width: 959px) {

    //Tablet
    .post-margin {

        margin-bottom: 2%;
    }

    .post-margin-edit {

        margin-bottom: 2%;
    }

    .main-content-squeezed {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
    }


    .filtersButton {
        margin-left: 7%;
        margin-right: 7%;

    }

    .filtersDiv {
        margin: 0 !important;
    }

    .filtersDiv {

        transition: 0.5s;
        display: block;
        overflow: hidden;
        margin-left: 7%;
        margin-right: 7%;
    }





    .main-content-squeezed .post-margin {
        width: auto;


    }

    .blackBox {
        width: 100% !important;
        padding: 15px;
        box-sizing: border-box;
    }

}


@media only screen and (max-width: 599px) {
    //Phone

    .MuiTooltip-popper {
        display: none;
        //tooltip turnedoff whilst on mobile
    }

    .post-margin {
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 2%;
    }

    .post-margin-edit {
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 2%;
    }

    .main-content-squeezed {

        width: 470px;
        margin-left: auto;
        margin-right: auto;


    }


    .filtersButton {
        margin-left: 4% !important;

        width: 92% !important;

    }

    .filtersDiv {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }

    .filtersDiv {

        transition: 0.5s;
        display: block;
        overflow: hidden;
        width: auto;
       
    }



    //avatar non-react
    .bigAvatar-scss {
        width: 100px !important;
        height: 100px !important;
    }


}